{
  "extends": [
    "wesbos"
  ],
  "settings": {
    "import/resolver": {
      "node": {} // placed above other resolver configs
    }
  },
  "rules": {
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2
      }
    ]
  }
}
